<!-- about
================================================== -->
<section id="about">

    <div class="row about-intro">

        <div class="col-four">
            <h1 class="intro-header"">About Our App</h1>
        </div>
        <div class="col-eight">
            <p class="lead">
                Excepteur enim magna veniam labore veniam sint. Ex aliqua esse proident ullamco voluptate. Nisi nisi nisi aliqua eiusmod dolor dolor proident deserunt occaecat elit Lorem reprehenderit. Id culpa veniam ex aliqua magna elit pariatur do nulla. Excepteur enim magna veniam labore veniam sint.
            </p>
        </div>                       
        
    </div>

    <div class="row about-features">

        <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

            <div class="bgrid feature">	

                <span class="icon"><i class="icon-window"></i></span>            

                <div class="service-content">	

                    <h3>Fully Resposive</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>
                    
                </div> 	         	 

                </div> <!-- /bgrid -->

                <div class="bgrid feature">	

                    <span class="icon"><i class="icon-image"></i></span>                          

                <div class="service-content">	
                    <h3>Retina Ready</h3>  

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>

                    
                </div>	                          

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-paint-brush"></i></span>		            

                <div class="service-content">
                    <h3>Stylish Design</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p> 
                        
                </div> 	            	               

            </div> <!-- /bgrid -->

                <div class="bgrid feature">

                    <span class="icon"><i class="icon-file"></i></span>	              

                <div class="service-content">
                    <h3>Clean Code</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p> 
                    
                </div>                

                </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-sliders"></i></span>	            

                <div class="service-content">	
                    <h3>Easy To Customize</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>                            
                </div>	               

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

                <span class="icon"><i class="icon-gift"></i></span>	   	           

                <div class="service-content">
                    <h3>Free of Charge</h3>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p> 
                        
                </div>	               

            </div> <!-- /bgrid -->

        </div> <!-- end features-list -->

    </div> <!-- end about-features -->

    <div class="row about-how">
        
        <h1 class="intro-header" >How The App Works?</h1>           

        <div class="about-how-content" >
            <div class="about-how-steps block-1-2 block-tab-full group">

                <div class="bgrid step" data-item="1">
                    <h3>Sign-Up</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                    </p> 
                </div>

                <div class="bgrid step" data-item="2">
                    <h3>Upload</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                    </p> 
                </div>               
            
                <div class="bgrid step" data-item="3">
                    <h3>Create</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                    </p> 
                </div>

                <div class="bgrid step" data-item="4">
                    <h3>Publish</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                    </p> 
                </div>  

            </div>           
        </div> <!-- end about-how-content -->

    </div> <!-- end about-how -->

    <div class="row about-bottom-image">

        <img src="images/app-screens-1200.png" 
            srcset="images/app-screens-600.png 600w, 
                    images/app-screens-1200.png 1200w, 
                    images/app-screens-2800.png 2800w" 
            sizes="(max-width: 2800px) 100vw, 2800px"
            alt="App Screenshots" >

    </div>  <!-- end about-bottom-image -->       
    
</section> <!-- end about -->  