 <!-- download
================================================== -->
<section id="download">

    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Sustainable and Environmentally friendly</h1>

            <img src="assets/img/Ecology/world.svg" alt="world in hands" width="230px" data-aos="fade-up">

            <div class="lead" data-aos="fade-up">
                Our PROTECTONNECT Pack acts completely on the reduction of the environmental impact, the waste of the water, the over-billing due to the water leaks and on the protection of the aquatic resources.<br><br>

                <div class="numbers">
                    <div>
                        <h3 class="h01">958</h3>
                        billion cubic meters of drinking water leaked per year worldwide in 2017.
                    </div>

                    <div>
                        <h3 class="h01">1 liter out of 3</h3>
                        reaches the tap in the world.
                    </div>

                    <div>
                        <h3 class="h01">30 to 40%</h3>
                        of the water transported in some countries represent water leakage.
                    </div>
                </div>
                <br><br>

                Many countries are starting to enter water stress, the situation in the world is worrying. Areas still unspoiled a few years ago are running out of water and desalination is expensive. Another issue, preserving our existing resources will be major challenges for the report we have to water. No longer waste the water resource and improve the efficiency of the water networks.<br><br>

                <b>The waste due to leaks must be stopped.</b> Only <i>1 liter of water out of 3</i> reaches the tap in the world. These poor performances have negative repercussions for the environment because they lead to an increased drain on a very fragile resource that we must preserve to meet our current and future needs in the context of climate change. The right to universal access to clean water is commendable. But they are difficult to envisage without significant investments in technical developments and innovations in exploitation.<br><br>

                Water leakage can account for up to 30-40% of the water transported in some countries, and smarter networks and the deployment of consumer connected equipment will be unavoidable.
            </div>

            <div>
                <img src="assets/img/Ecology/brevet-INPI.png" alt="">
            </div>

        </div>
    </div>

</section> <!-- end download -->    