 <!-- download
================================================== -->
<section id="download">

    <div class="row">
        <div class="col-full">
            <h1 class="intro-header">Download Our App Today!</h1>

            <p class="lead" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>

            <ul class="download-badges">
                <li><a href="#" title="" class="badge-appstore" >App Store</a></li>
                <li><a href="#" title="" class="badge-googleplay">Play Store</a></li>
            </ul>

        </div>
    </div>

</section> <!-- end download -->    