 <!-- download
================================================== -->
<section id="download">

    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Sustainable and Eco-friendly</h1>

            <img src="assets/img/Ecology/world.svg" alt="world in hands" width="230px" data-aos="fade-up">

            <div class="lead" data-aos="fade-up">
                Our PROTECTONNECT Pack acts completely on the reduction of the environmental impact, water waste, over-billing due to the water leaks and on the protection of the aquatic resources.<br><br>

                <div class="numbers">
                    <div>
                        <h3 class="h01">958</h3>
                        billion cubic meters of drinking water leaked per year worldwide in 2017.
                    </div>

                    <div>
                        <h3 class="h01">1 liter out of 3</h3>
                        reaches the tap in the world.
                    </div>

                    <div>
                        <h3 class="h01">30 to 40%</h3>
                        of the water transported in some countries is wasted through leaks.
                    </div>
                </div>
                <br><br>

                Many countries are getting into water stress situation and many sources of watersupplies are already overstretched. Areas still unspoiled a few years ago are now running out drinking water and must use desalination that is an expensive process.<br><br>

                <b>Water waste from leaking pipes must be curbed.</b> Only <i>1 liter of water out of 3</i> reaches the tap in the world. These poor performances have negative impact on the environment because they lead to an increased drain on a very fragile resource that we must preserve to meet our current and future needs in the context of climate change. The right to universal access to clean water is commendable, but difficult to envisage without significant investments in technical developments and innovations in exploitation in favour of responsible consumption.<br><br>

                In some countries, water leakage can represent up to 30-40% of the water transported. Therefore, the deployment of smart networks and consumer connected equipment, will be unavoidable and powerful tools to cut down on wastage.
            </div>

            <div>
                <img src="assets/img/Ecology/brevet-INPI.png" alt="">
            </div>

        </div>
    </div>

</section> <!-- end download -->    