 <!-- download
================================================== -->
<section id="download">

    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Simple and effective for Smart Cities</h1>

            <img src="assets/img/Ecology/world.svg" alt="world in hands" width="230px" data-aos="fade-up">

            <div class="lead" data-aos="fade-up">
                Our PROTECTONNECT Pack acts completely on the reduction of the environmental impact, water waste, over-billing due to the water leaks and on the protection of the aquatic resources.<br><br>

                <div class="numbers">
                    <div>
                        <h3 class="h01">958</h3>
                        billion cubic meters of drinking water leaked per year worldwide in 2017.
                    </div>

                    <div>
                        <h3 class="h01">1 liter out of 3</h3>
                        reaches the tap in the world.
                    </div>

                    <div>
                        <h3 class="h01">30 to 40%</h3>
                        of the water transported in some countries is wasted through leaks.
                    </div>
                </div>
                <br><br>

                <b>Many countries are facing water-deficit situations and many sources of water supplies are already overstretched.</b><br><br>

                In July 2009, ignored by all but a handful of people, humanity reached an unprecedented milestone. For the first time in human history, urban areas will be more populated than rural areas. The trend will continue to increase, and by 2050, 70% of us will live in the city.<br><br>

                This trend in growth is one of the biggest challenges humanity has to address. To meet the challenge of sustainable expansion and to develop efficiently while maintaining the same quality of life for its residents, smart cities have to reinvent the way to use energy and natural resources.<br><br>

                The water management system is one of the most critical pieces of infrastructure for cities. A smart city has to develop a smart water system with real-time tracking in order to ensure this precious resource is managed properly and sustainably.
            </div>

            <div>
                <img src="assets/img/Ecology/brevet-INPI.png" alt="">
            </div>

        </div>
    </div>

</section> <!-- end download -->    