<!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="assets/img/Hero/Hero_image.jpg" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">        

            <div class="row contents">                     
                <div class="home-content-left">

                    <h3 data-aos="fade-up">DISCOVER THE world’s BEST anti-water waste device</h3>

                    <h1 data-aos="fade-up">
                        The first c<span>o</span>nnected <br>
                        solution to protect planet <br>
                        water resources.
                    </h1>

                    <div class="buttons" data-aos="fade-up">
                        <a href="#footer" class="smoothscroll button stroke">
                            <span class="icon-circle-down" aria-hidden="true"></span>
                            Let’s keep in touch
                        </a>
                        <a href="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=39b54a" data-lity class="button stroke">
                            <span class="icon-play" aria-hidden="true"></span>
                            Watch Video
                        </a>
                    </div>                                         

                </div>

                <div class="home-image-right">                    
                    <img src="assets/img/Hero/Pdt_off.png">
                    <img src="assets/img/Hero/Pdt_on.png">
                </div>
            </div>

        </div> <!-- end home-content -->

        <ul class="home-social-list">
            <li>
                <a href="https://www.facebook.com/Protectonnect" target="_blank"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/protectonnect/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
        <!-- end home-social-list -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->  

