<section id="about">    
    <div class="row">
        
        <h1 class="intro-header" data-aos="fade-up">How <span class="title">protect<span>o</span>nnect</span> works ?</h1>           

        <div class="about-how-content" data-aos="fade-up">
            <div class="about-how-steps block-1-2 block-tab-full group">

                <div class="bgrid step" data-item="1">
                    <h3>Innovative cover that protects and insulates against freezing</h3>
                    <p>Protecto is an ergonomically shaped and specific cover of the meter, the front and the post meter and robust technical textile materials, sealing optimization and multi-thermal insulators for use (initial patent) until at -24 °.
                    </p> 
                </div>

                <div class="bgrid step" data-item="2">
                    <h3>Connected app that raises the temperature live</h3> 
                    <p>Thanks to a connected technology, embedded and at the forefront of electronics thanks to its various sensors, the PROTECTONNECT cover is remotely controlled via a mobile application from an individual, allowing the monitoring and real-time detection of leaks.
                    </p> 
                </div>               
            
                <div class="bgrid step" data-item="3">
                    <h3>Detection & Transmission "Water leak warning"</h3>
                    <p>The customer is warned remotely and in real time through a "Water Leak Alert" by SMS or email and can either manage the leakage itself or ask us to do it in his place for lack of knowledge in the event of prolonged absence or removal from the place of residence (holiday homes).
                    </p> 
                </div>

                <div class="bgrid step" data-item="4">
                    <h3>Intervention of our network</h3>
                    <p>We accompany the individual to provide, within 24 hours, through our network of selected professional partners, a local plumber, a geolocation leakage company if necessary or to alert the water services of the municipalities, private or public, for the case of a replacement of a leaky meter.  
                    </p> 
                </div>  

            </div>           
        </div> <!-- end about-how-content -->

    </div> <!-- end about-how -->


    <div class="row how-bottom-image">

        <img src="assets/img/How/Gif_how.gif" alt="water leak detection" data-aos="fade-up">
    </div>  <!-- end about-bottom-image -->     
</section>