<section id="how">    
    <div class="row">
        
        <h1 class="intro-header" data-aos="fade-up">How <span class="title dark">protect<span>o</span>nnect</span> works ?</h1>           

        <div class="about-how-content" data-aos="fade-up">
            <div class="about-how-steps block-1-2 block-tab-full group">

                <div class="bgrid step" data-item="1">
                    <h3>Innovative cover that protects and insulates against freezing</h3>
                    <p>PROTECTONNECT is an ergonomically shaped and specific cover for the meter, the front and the back of meters, made of robust technical textile materials, sealing optimization and multi-thermal insulators, for use in temperatures up to -24° (initial patent).
                    </p> 
                </div>

                <div class="bgrid step" data-item="2">
                    <h3>Connected app and data analysis</h3> 
                    <p>Thanks to a connected technology, embedded, and at the forefront of electronics, the PROTECTONNECT cover, fitted with various sensors, is remotely controlled via a mobile application, allowing real-time detection of leaks and global monitoring consumption for smart cities.
                    </p>
                </div>               
            
                <div class="bgrid step" data-item="3">
                    <h3>Detection & Transmission "Water leak Alert"</h3>
                    <p>The customer is warned remotely by a "Water Leak Alert" via SMS or email. Once the customer receives the alert, he can either manage the leakage himself, or ask the PROTECTONNECT team to do it for him due to lack of knowledge, in the event of vacations or prolonged absence from the place of residence (holiday homes).
                    </p> 
                </div>

                <div class="bgrid step" data-item="4">
                    <h3>Intervention of PROTECTONNECT's network</h3>
                    <p>We provide technical support within 24 hours by putting the customer in touch with a network of selected professional partners (local plumbers, geolocation leakage companies, water services of the municipalities).
                    </p> 
                </div>  

            </div>           
        </div> <!-- end about-how-content -->

    </div> <!-- end about-how -->


    <div class="row how-bottom-image">
        <img src="assets/img/How/Gif_how.gif" alt="water leak detection" data-aos="fade-up">
    </div>  <!-- end about-bottom-image -->     
</section>