<!-- pricing
================================================== -->
<section id="pricing">
    <div class="row pricing-content">

        <div class="col-four pricing-intro">
            <h1 class="intro-header" data-aos="fade-up">Our Pricing Options</h1>

            <p data-aos="fade-up">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. 
            </p>
        </div>

        <div class="col-eight pricing-table">
            <div class="row">

                <div class="col-six plan-wrap">
                    <div class="plan-block" data-aos="fade-up"> 

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Lite Plan</h3>
                            <p class="plan-block-price"><sup>$</sup>25</p>
                            <p class="plan-block-per">Per Month</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>3GB</span> Storage</li>
                                <li><span>10GB</span> Bandwidth</li>	                  
                                <li><span>5</span> Databases</li>		                  
                                <li><span>30</span> Email Accounts</li>
                            </ul>

                            <a class="button button-primary large" href="">Get Started</a>
                        </div>  
                    
                    </div>
                </div> <!-- end plan-wrap -->

                <div class="col-six plan-wrap">
                    <div class="plan-block primary" data-aos="fade-up">

                        <div class="plan-top-part">
                            <h3 class="plan-block-title">Pro Plan</h3>
                            <p class="plan-block-price"><sup>$</sup>50</p>
                            <p class="plan-block-per">Per Month</p>
                        </div>

                        <div class="plan-bottom-part">
                            <ul class="plan-block-features">
                                <li><span>5GB</span> Storage</li>
                                <li><span>20GB</span> Bandwidth</li>	                  
                                <li><span>15</span> Databases</li>		                  
                                <li><span>70</span> Email Accounts</li>
                            </ul>

                            <a class="button button-primary large" href="">Get Started</a>
                        </div>

                    </div>
                </div> <!-- end plan-wrap -->

            </div>               
        </div> <!-- end pricing-table -->

    </div> <!-- end pricing-content -->
</section> <!-- end pricing -->