<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">The team words.</h1>
        </div>   		
    </div>   	

    <div class="row owl-wrap">

        <div id="testimonial-slider"  data-aos="fade-up">

            <div class="slides">

                <div>
                    <p>
                    Among the priorities of many countries, the goal for the future is to make buildings responsible. Thanks to a better knowledge of users' water uses, PROTECTONNECT aims to encourage a reduction in consumption. Collecting data is good. Exploiting them is better.<br><br>
                    With the deployment of PROTECTONNECT and the development of Algorithms, drinking water consumption data can be enhanced to provide new services essential to the resilient, sustainable and humane CitySmart City.
                    </p> 

                    <div class="testimonial-author">
                            <img src="assets/img/Team-word/team.png" alt="Protecto team">
                            <div class="author-info">
                                The Protectonnect team
                            </div>
                    </div>                 
                </div> 

            </div> <!-- end slides -->

        </div> <!-- end testimonial-slider -->         
        
    </div> <!-- end flex-container -->

</section> <!-- end testimonials -->