<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">The team word in a tweet.</h1>
        </div>   		
    </div>   	

    <div class="row owl-wrap">

        <div id="testimonial-slider"  data-aos="fade-up">

            <div class="slides">

                <div>
                    <p>
                    Today, 1.5 billion people do not have access to drinking water in the world. Our challenge for the coming years is to no longer waste drinking water and preserve our water resources.<br>
                    Water leakage can account for up to 40% of the water transported in some countries, the establishment of smarter networks and the deployment of connected equipment such as PROTECTONNECT for consumers will beunavoidable.<br>
                    Fighting drinking water leaks must become our common goal to make our world a better place. 
                    </p> 

                    <div class="testimonial-author">
                            <img src="assets/img/Team-word/team.jpg" alt="Protecto team">
                            <div class="author-info">
                                The Protecto team
                            </div>
                    </div>                 
                </div> 

            </div> <!-- end slides -->

        </div> <!-- end testimonial-slider -->         
        
    </div> <!-- end flex-container -->

</section> <!-- end testimonials -->