<!-- header 
================================================== -->
<header id="header" class="row">   

	<div class="header-logo">
		<a href="index.html">PROTECT<span>O</span>NNECT</a>
	</div>

	<nav id="header-nav-wrap">
		<ul class="header-main-nav">
			<li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
			<li><a class="smoothscroll"  href="#about" title="about">About</a></li>
			<li><a class="smoothscroll"  href="#pricing" title="pricing">How it works</a></li>
			<li><a class="smoothscroll"  href="#testimonials" title="testimonials">Our partners</a></li>
			<li><a class="smoothscroll"  href="#download" title="download">Let's keep in touch</a></li>	
		</ul>

		<a href="#" title="sign-up" class="button button-primary cta">Sign Up</a>
	</nav>

	<a class="header-menu-toggle" href="#"><span>Menu</span></a>    	

</header> <!-- /header -->