<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{% include 'head.twig' %}

<body id="top">
	{% include 'header.twig' %}

	{% include '../_sections/home.twig' %}
	{% include '../_sections/about.twig' %}
	{% include '../_sections/pricing.twig' %}
	{% include '../_sections/testimonials.twig' %}
	{% include '../_sections/download.twig' %}

	{% include 'footer.twig' %}

    <script src="assets/js/jquery-2.1.3.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
