// HOME
#home .overlay {
	opacity: 0.7;
}

.home-image-right {
	padding-top: 29rem;
	@media only screen and (max-width: 1200px) {
		padding-top: 18rem;
	}
	@media only screen and (max-width: 900px) {
		padding-top: 0;
		margin-bottom: -100px;
	}
}

.home-image-right img{
	width: auto;
}

// ABOUT
.about-features .feature h3 {
	min-height: 57px;
	margin-bottom: 15px;
}

.wf-active .about-how-content .step::before {
	font-family: "muli";
	font-weight: 700;
}

// DOWNLOAD
#download .lead{
	color: #fff;
	i, em, b, strong {
		font-size: inherit;
	}
}

.how-bottom-image {
	text-align: center;
}

#partners {
	background-color: #ebebeb;
	padding-top: 18rem;
	min-height: 786px;
	overflow: hidden;
}