// ABOUT
.about-features .feature h3 {
	min-height: 57px;
	margin-bottom: 15px;
}

.wf-active .about-how-content .step::before {
	font-family: "muli";
	font-weight: 700;
}

// DOWNLOAD
#download .lead{
	color: #fff;
	i, em, b, strong {
		font-size: inherit;
	}
}

.how-bottom-image {
	text-align: center;
}

#partners {
	background-color: #ebebeb;
	padding-top: 18rem;
	min-height: 786px;
	overflow: hidden;
}