body{ font-family: helvetica, arial, sans-serif;}
.wf-active body{ font-family: 'Muli', helvetica, arial, sans-serif;}

.wf-active {
	strong, b, em, i {font-family: "muli"}
}
strong, b{font-weight: 700;}
em, i{font-style: italic;}

.home-social-list li a:hover, .home-social-list li a:focus, .home-social-list li a:active{
	color: #019cfe;
}

.title{
	font-family: "Montserrat";
	font-weight: bold;
	color: white;
	&.dark{
		color: rgb(21, 21, 21);;
	}
	span{
		color: #019cfe;
	}
}